
<div class="breadcrumb">
    <a href="#">{{ 'home' | translate }}</a> <span>></span> <span>{{ 'offers' | translate }}</span>
</div>

<div class="offers-container">

  <div class="offer-card">
    <div class="offer-text">
      <h2>{{ 'high_tide' | translate }}</h2>
      <p>{{ 'high_tide_desc' | translate }}</p>
      <a href="#">{{ 'see_more' | translate }}</a>
      <div class="discount">45%</div>
    </div>
    <img src="assets/img/delfines.jpg" alt="{{ 'high_tide' | translate }}" class="offer-image" />
  </div>

  <div class="offer-card">
    <div class="offer-text">
      <h2>{{ 'unforgettable_walk' | translate }}</h2>
      <p>{{ 'unforgettable_walk_desc' | translate }}</p>
      <a href="#">{{ 'see_more' | translate }}</a>
      <div class="discount">30%</div>
    </div>
    <img src="assets/img/caminata.jpg" alt="{{ 'unforgettable_walk' | translate }}" class="offer-image" />
  </div>

  <div class="offer-card">
    <div class="offer-text">
      <h2>{{ 'extreme_adventure' | translate }}</h2>
      <p>{{ 'extreme_adventure_desc' | translate }}</p>
      <a href="#">{{ 'see_more' | translate }}</a>
      <div class="discount">40%</div>
    </div>
    <img src="assets/img/flyboard.jpg" alt="{{ 'extreme_adventure' | translate }}" class="offer-image" />
  </div>
</div>

<app-footer></app-footer>