<div class="header">
    <h1 class="logo">LEXUS</h1>
    <div>
          <div class="hero">
            <h2 class="title2"> {{'title2' | translate}}</h2>
            <div class="search-bar">
              <input type="text" placeholder="{{ 'search.guests' | translate }}" />
              <input type="date" placeholder="{{ 'search.checkin' | translate }}" />
              <input type="date" placeholder="{{ 'search.checkout' | translate }}" />
              <button>{{ 'search.button' | translate }}</button>
            </div>
          </div>
        </div>
        <div>
          <div class="user">
            <!-- header.component.html -->
            <button (click)="onRegisterClick()">{{'list.register' | translate}}</button>
            <button (click)="onLoginClick()">{{'list.login' | translate }}</button>

           
          </div>
        </div>
        
        <div class="language-selector">
          <select (change)="onChange($event)">
              <option *ngFor="let option of options" [value]="option.value">{{ option.display}}</option>
          </select>
      </div>
    </div>

  
  <nav class="menu">
    <a href="#">{{ 'menu.activities' | translate }}</a>
    <a routerLink="/roomslist">{{ 'menu.rooms' | translate }}</a>
    <a routerLink="/scrape">{{ 'menu.search' | translate }}</a>
    <a href="#">{{ 'menu.offers' | translate }}</a>
    <a href="#">{{ 'menu.restaurants' | translate }}</a>
  </nav>
