<footer class="footer">
    <div class="footer-container">
      <div class="footer-section">
        <h4>{{ 'footer.help' | translate }}</h4>
        <p>{{ 'footer.customer_support' | translate }}</p>
        <p>{{ 'footer.pqrs' | translate }}</p>
      </div>
      <div class="footer-section">
        <h4>{{ 'footer.our_company' | translate }}</h4>
        <p>{{ 'footer.work_with_us' | translate }}</p>
        <p>{{ 'footer.corporate_contact' | translate }}</p>
      </div>
      <div class="footer-section">
        <h4>{{ 'footer.discover' | translate }}</h4>
        <p>{{ 'footer.loyalty_program' | translate }}</p>
        <p>{{ 'footer.conference_hall' | translate }}</p>
      </div>
      <div class="social">
        <a href="#"><img src="../../assets/img/linkedin.png" alt="LinkedIn"></a>
        <a href="#"><img src="../../assets/img/facebook.png" alt="Facebook"></a>
        <a href="#"><img src="../../assets/img/instagram.png" alt="Instagram"></a>
        <a href="#"><img src="../../assets/img/.email.png" alt="Email"></a>
        <div class="links">
          <a href="#">{{ 'footer.terms' | translate }}</a>
          <a href="#">{{ 'footer.privacy' | translate }}</a>
        </div>
      </div>
    </div>
  </footer>

