<div class="modal-overlay" *ngIf="isModalVisible">
  <div class="modal-container">
    <h2>INICIO DE SESIÓN DE USUARIOS</h2>
    <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="text" class="form-control" formControlName="email">
      </div>
      <div class="mb-3">
        <label class="form-label">Contraseña</label>
        <input type="password" class="form-control" formControlName="password">
      </div>
      <input type="submit" value="Iniciar Sesión" class="boton">
    </form>
    <button class="btn btn-info" (click)="onClick()">Inicia Sesión con Google</button>
    <button (click)="closeModal()">Cerrar</button>
  </div>
</div>
